$c-header-height: 105px;
.c-header {
    background-color: white;
    z-index: 5000;
    position: relative;
    .c {
        text-align: center;
        height: $c-header-height;
    }
    &__logo-wrap {
        float: left;
        padding-top: 40px;
    }
    &__logo {
        display: inline-block;
        img {
            display: block;
        }
    }
    &__nav-wrap {
        float: right;
        padding-top: 40px;
        @include a-nav() {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    &__cart-wrap {
        padding-top: 22px;
        float: right;
    }
}
