@font-face {
  font-family: 'DaysRegular';
  src: url('../fonts/DaysRegular/DaysRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DaysRegular/DaysRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DaysRegular/DaysRegular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DaysRegular/DaysRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DaysRegular/DaysRegular.svg#e807d3ccf8d24c8c1a3d86db5da78da8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
